@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: 'Inter';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
}

/*main*/

/* careers */

.work-section {
    padding: 96px 112px;
}

.section-hiring {
    width: 768px;
}

.hiring {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6941C6;
}

.title-hiring {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    margin: 12px 0 20px 0;
}

.text-hiring {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
}

.work-statistic {
    display: flex;
    margin-top: 88px;
    gap: 64px;
}

.section-professions {
    width: 576px;
}

.img-work {
    width: 576px;
    height: 624px;
}

.profession {
    margin-bottom: 22px;
    border-top: 1px solid #EAECF0;
    padding-top: 22px;
}

.title-speciality {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-pr {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.speciality {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #175CD3;
    border: 1px solid #B2DDFF;
    border-radius: 16px;
    background-color: #EFF8FF;
    padding-right: 26px;
    padding-top: 2px;  
    padding-bottom: 2px;
}

.text-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    margin: 8px 0 28px 0;
}

.dop-informations {
    display: flex;
    align-items: center;
    gap: 26px;
}

.informations {
    display: flex;
    align-items: center;
    gap: 12px   ;
}

.icon-info {
    width: 16px;
}

.informations > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

/* newsletter-section*/

.newsletter-container {
    padding: 0 80px 96px;
}

.newsletter-content {
    width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    background-color: #53389E;
    border-radius: 16px;
}

.head-supporting {
    padding: 64px 224px 0;
}

.head-supporting h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.supporting-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #E9D7FE;
}

.email-input {
    display: flex;
    gap: 16px;
    padding-top: 32px;
}

.email-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.email-input input {
    width: 332px;
    height: 24px;
    padding: 12px 14px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.email-input button {
    height: 48px;
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.hint-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #E9D7FE;
    text-align: left;
}

.hint-text a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #E9D7FE;
    text-decoration: underline;
}

/* section-registr */

.section-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 96px;
}

.contact {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6941C6;
}

.contact-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    margin: 12px 0 20px 0;
}

.contact-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
}

.registr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    padding-bottom: 96px;
    gap: 24px;
}

.first-last {
    display: flex;
    gap: 32px;
}

.first,
.last {
    display: flex;
    flex-direction: column;
}

.registr input, textarea {
    margin-top: 6px;
    padding: 10px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.registr label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.registr-email {
    display: flex;
    flex-direction: column;
}

.registr-email input {
    width: 452px;
}

.registr-number {
    display: flex;
    flex-direction: column;
}

.registr-number input {
    width: 452px;
}

.message {
    display: flex;
    flex-direction: column;
}

.message textarea {
    width: 452px;
    height: 110px;
    resize: none;
}

.agree {
    width: 452px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 8px;
}

.agree input {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
}

.agree label, a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.agree a {
    text-decoration: underline;
}

.btn-registr {
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 183px;

}

/* footer */

footer {
    background-color: #0C111D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 48px;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 32px;
}

.start-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 40px 0 16px 0;
}

.start-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #EAECF0;
}

.btn-start {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 40px;
}

.demo {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #344054;
    padding: 12px 20px;
}

.start {
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 20px;
}

.f-content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    border-top: 1px solid #475467;
    padding: 32px 0px 0px;
    margin-top: 64px;
}

.f-content p {
    width: 988px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D0D5DD;
}

.f-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.f-links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D0D5DD;
}

